@page
@model Pro1.Pages.PurchaseTicket.MyTicketsModel

@{
    ViewData["Title"] = "MyTickets";
}

<h1>MyTickets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].isPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketBuyer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCreator.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketBuyer.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
